@tailwind base;
@tailwind components;
@tailwind utilities;

// Color Variables
$primary: #1f3e72;
$secondary: rgba(255, 255, 255, 0.78);
$black: #131110;
$blue-gradient: linear-gradient(97.05deg, #4066ff 3.76%, #2949c6 100%);
$orange-gradient: linear-gradient(270deg, #ffb978 0%, #ff922d 100%);
$blue: #4066ff;
$lightBlue: #eeeeff;
$shadow: 0px 23px 21px -8px rgba(136, 160, 255, 0.25);

// Global Styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth !important;
}

// Scrollbar Styles
::-webkit-scrollbar {
  width: 13px;
  background-color: transparent;
  height: 100%;
}

::-webkit-scrollbar-thumb {
  @apply bg-indigo-600;
  border-radius: 10px;
}
.hide-scroll-bar::-webkit-scrollbar{
  width: 0 !important;
}
// Button Styles
.btn {
  @apply py-3 px-5 rounded-lg text-white hover:text-stone-200 hover:scale-110 font-semibold;
  transition: 0.3s all ease-in-out;
}

// Background Styles
.bg-blue-gradient {
  background-image: $blue-gradient !important;
}

.bg-orange-gradient {
  background-image: $orange-gradient !important;
}

// Swiper Card Styles
.swiper-card:hover {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(136, 160, 255, 0.46) 217.91%) !important;
  box-shadow: 0px 72px 49px -51px rgba(136, 160, 255, 0.21);
}

// Swiper Styles
.swiper-horizontal {
  overflow: visible !important;
}

// Custom Shape Divider Styles
.custom-shape-divider-bottom-1690286822 {
  position: absolute;
  top: 5rem;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  z-index: 1;
  transform: rotate(180deg);
}

// Form Validation Styles
.validated .needs-validation,
.validated textarea {
  outline: #22c55e !important;
  @apply border border-green-500;
}

.not-validated .needs-validation,
.not-validated textarea {
  outline: #ce0000 !important;
  @apply border border-red-500;
}

// Swiper Wrapper Styles
.swiper-wrapper {
  display: flex !important;
  flex-wrap: nowrap;
  align-items: center !important;
}

// Custom Shape Divider SVG Styles
.custom-shape-divider-bottom-1690286822 svg {
  position: relative;
  display: block;
  width: calc(116% + 1.3px);
  height: 96px;
}

.custom-shape-divider-bottom-1690286822 .shape-fill {
  @apply fill-stone-50 dark:fill-[#201d1b];
}

// Accordion Styles
.accordion-shadow {
  box-shadow: $shadow !important;
  border-radius: 6px;
}

// Image Styles
img {
  user-select: none !important;
}

// Transition Styles
.menuTransition {
  transition: 0.4s all ease-in-out;
}

// Link Styles
a {
  color: inherit;
  text-decoration: none;
}

// Padding Styles
.paddings {
  padding: 1.5rem;
}

// Width Styles
.innerWidth {
  width: 100%;
}

// Flexbox Styles
.flexCenter {
  display: flex;
  row-gap: 2rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.flexStart {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flexEnd {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.flexColCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.flexColStart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.flexColEnd {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

// Text Styles
.primaryText {
  color: #1f3e72;
  font-weight: bold;
  font-size: 2rem;
}

.secondaryText {
  color: rgb(140 139 139);
  font-size: 0.9rem;
}

.orangeText {
  color: orange;
  font-size: 1.5rem;
  font-weight: 600;
}

// Background Shape Styles
.background-shape-main {
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 100px;
  background-image: linear-gradient(45deg, #53f 40%, #506690 100%);
}

.static-shape {
  background-color: #53f;
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 120px;
  z-index: -2;
}

// Media Queries
@media (min-width: 1536px) {
  .innerWidth {
    max-width: 1280px;
    margin: auto;
  }
}

@media (min-width: 640px) {
  .paddings {
    padding: 4rem;
  }
}

@media (min-width: 1280px), (min-width: 768px) {
  .paddings {
    padding: 2rem;
  }
}

@media (max-width: 640px) {
  .primaryText {
    font-size: 1.5rem;
  }
  .orangeText {
    font-size: 1.2rem;
  }
}

@media (min-width: 1200px) {
  .background-shape-main {
    transform: translate(30%, -10%) skewY(30deg);
  }
}

@media (min-width: 992px) {
  .background-shape-main {
    transform: translate(20%, -30%) skewY(30deg);
  }
}

@media (min-width: 768px) {
  .background-shape-main {
    height: 150%;
    transform: translate(25%, -25%) skewY(30deg);
  }
}
